body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
  color: #666;
  font-size: 16px;
}
*{
  box-sizing: border-box;
}

#loadingText{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  z-index: 1;
}
#editor{
  min-height: 100vh;
}
#editor>.ql-editor , footer>div{
  padding: 40px;
  min-height: 100vh;
  color: #000;
  font-size: 14px;
  line-height: 28px;
  max-width: 800px;
  margin: 0 auto;
}
#editor>.ql-editor{
  background: white;
}

.editor-wrap{
  position: relative;
}
#selections{
  pointer-events: none;
}
#selections>div{
  position: absolute;
  z-index: 3;
  min-width: 1px;
}
#selections>div>div{
  position: absolute;
  left: 0;
  bottom:100%;
  font-size: 12px;
  color: white;
  padding: 2px;
  border-radius: 5px;
}

footer a{
  color: inherit;
}